[submodule "Thirdparty/ceres-solver"]
	path = Thirdparty/ceres-solver
	url = https://ceres-solver.googlesource.com/ceres-solver
[submodule "Thirdparty/g2o"]
	path = Thirdparty/g2o
	url = https://github.com/RainerKuemmerle/g2o
[submodule "Thirdparty/opencv-4.5.5"]
	path = Thirdparty/opencv-4.5.5
	url = https://github.com/opencv/opencv
[submodule "instant-ngp-kf2"]
	path = instant-ngp-kf2
	url = https://github.com/ekasilicon14/instant-ngp-kf2
